<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated javaMetaModel -->
      <package
            uri="http://www.example.org/javaMetaModel"
            class="javaMetaModel.JavaMetaModelPackage"
            genModel="model/javaMetaModel.genmodel"/>
   </extension>

</plugin>
